@page "/Machines/edit"
@inject machinist.Data.MachineContext DB
@using machinist.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Machine</h4>
<hr />
@if (Machine is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Machine" OnValidSubmit="UpdateMachine" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Machine.Id" value="@Machine.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Machine.Name" class="form-control" />
                    <ValidationMessage For="() => Machine.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Desc:</label>
                    <InputText id="desc" @bind-Value="Machine.Desc" class="form-control" />
                    <ValidationMessage For="() => Machine.Desc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="roomnr" class="form-label">RoomNr:</label>
                    <InputText id="roomnr" @bind-Value="Machine.RoomNr" class="form-control" />
                    <ValidationMessage For="() => Machine.RoomNr" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Machine.Status" class="form-control" />
                    <ValidationMessage For="() => Machine.Status" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="statuschanged" class="form-label">StatusChanged:</label>
                    <InputDate id="statuschanged" @bind-Value="Machine.StatusChanged" class="form-control" />
                    <ValidationMessage For="() => Machine.StatusChanged" class="text-danger" />
                </div> *@
                <div class="mb-3">
                    <label for="companyid" class="form-label">CompanyId:</label>
                    <InputNumber id="companyid" @bind-Value="Machine.CompanyId" class="form-control" />
                    <ValidationMessage For="() => Machine.CompanyId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/machines">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Machine? Machine { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Machine ??= await DB.Machine.FirstOrDefaultAsync(m => m.Id == Id);

        if (Machine is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateMachine()
    {
        DB.Attach(Machine!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MachineExists(Machine!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/machines");
    }

    bool MachineExists(int id)
    {
        return DB.Machine.Any(e => e.Id == id);
    }
}
