@page "/machines"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject machinist.Data.MachineContext DB
@using machinist.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="machines/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Machine">
    <PropertyColumn Property="machine => machine.MachineId" />
    <PropertyColumn Property="machine => machine.Name" />
    <PropertyColumn Property="machine => machine.Desc" />
    <PropertyColumn Property="machine => machine.RoomNr" />
    <PropertyColumn Property="machine => machine.Status" />
    <PropertyColumn Property="machine => machine.StatusChanged" />
    <PropertyColumn Property="machine => machine.CompanyId" />

    <TemplateColumn Context="machine">
        <a href="@($"machines/edit?id={machine.Id}")">Edit</a> |
        <a href="@($"machines/details?id={machine.Id}")">Details</a> |
        <a href="@($"machines/delete?id={machine.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
